.card-title {
	text-align: center;
	font-size: 100px
}

.stopwatch-time {
	text-align: center;
	color: black;
	font-size: 80px;
}

.stopwatch-buttons {
	display: flex;
	justify-content: center;
}

.stopwatch-buttons button {
	margin: 20px;
	border: none;
	padding: 10px 30px;
	cursor: pointer;
	color: #fff;

    }
    
    .stopwatch-buttons button:first-child {
	background-color: black;
    }
    .stopwatch-buttons button:nth-child(2) {
	background-color: green;
    }
    
    .stopwatch-buttons button:nth-child(3) {
	background-color: red;
    }

    .stopwatch-buttons button:nth-child(4) {
	background-color: blue
    }

    .center-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; /* Full viewport height */
	background-color: #f0f0f0; /* Optional background color */
      }
      button:disabled {
	background-color: #d3d3d3; /* Light gray background */
	color: #a9a9a9; /* Gray text */
	cursor: not-allowed; /* Show a "not-allowed" cursor */
	opacity: 0.5; /* Reduce opacity for a "grayed-out" effect */
	border: none; /* Optional: Remove border for simplicity */
      }