.card-title {
	text-align: center;
	font-size: 100px
}

.stopwatch-time {
	text-align: center;
	color: black;
	font-size: 80px;
}

.stopwatch-buttons {
	display: flex;
	justify-content: center;
}

.stopwatch-buttons button {
	margin: 20px;
	border: none;
	padding: 10px 30px;
	cursor: pointer;
	color: #fff;

    }
    
    .stopwatch-buttons button:first-child {
	background-color: blue;
    }
    .stopwatch-buttons button:nth-child(2) {
	background-color: green;
    }
    
    .stopwatch-buttons button:nth-child(3) {
	background-color: red;
    }

    .stopwatch-buttons button:nth-child(4) {
	background-color: black
    }

    .center-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; /* Full viewport height */
	background-color: #f0f0f0; /* Optional background color */
      }
      